

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">PG Design</a>
    

    <div class="collapse navbar-collapse col-md-12" id="navbarColor01">
       
           

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Home </a>
            </li>
            <li class="nav-item">
                <a title="Mina tidigare jobb" class="nav-link" href="@Url.Action("Index", "Gallery")">Galleri</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
            
     

    </div>
</nav>
<!-- Script to change active status for navbar items -->
<script>
    $(document).ready(function () {
        $('.nav-link li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('.nav-item').addClass('active');
    });
</script>