@model pgDesign.ViewModels.WebshopVM
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mb-5"> PG-Design Webbhandel</h2>
<div id="webshop" class="webshop-container">
    <ul class="list-unstyled border p-4">
        @foreach (var item in Model.WebshopItems)
        {
            <li class="mb-5 ml-5">
                <div class="webshop-body d-inline-block">
                    <div class="webshop-image d-inline-flex">
                        <img src="@item.Picture_Url" style="max-height: 200px;" />
                        <div class="mt-3 ml-5">
                            <h4>@item.Name</h4>
                            <p>
                                @item.Description
                            </p>
                            <p>
                                Pris: @item.Price :-
                            </p>
                            <div class="">
                                <input type="submit" value="Köp" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </li>
        }
    </ul>
</div>
