<div class="modal" id="myModalOpenTimes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="center">Öppettider</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">Måndag-Fredag</th>
                            <td>08:00 - 16:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Lördag</th>
                            <td style="color: #ff0000">Stängt</td>
                        </tr>
                        <tr>
                            <th scope="row">Söndag</th>
                            <td style="color: #ff0000">Stängt</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-center">Avvikande öppettider</h5>
                <hr />
                <p class="text-center" style="color: #ff0000">Vi har stängt alla röda dagar och </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>
