@{
    ViewBag.Title = "Contact";
}
<h2 class="headline text-center">Kontakta oss</h2>
<hr class="headline" />
<h4 class="headline text-center">Kontakta oss gärna via mejl eller telefon</h4>

<div class="profile-body">
    <div class="profile-content col-md-12">
        <div class="row">
            <div class="col-md-5">
                <h4 class="mt-2 text-center">FlamingoChief</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <img class="profile-pic w-100" src="~/Images/Contact/profil.jpg" />
                        </div>
                        <div class="card-text pb-0">
                            <p class="mt-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vestibulum vel enim velit. Pellentesque
                            </p>
                        </div>
                        <hr class="headline" />
                        <div class="card-group">
                            <ul class="list-unstyled pl-3" id="contact-list">
                                <li class="row mr-2 mt-3">
                                    <a href=""><img src="~/Images/Contact/mail.png" class="mr-3" /></a> <h6 class="list-headline">E-post dygnet runt!</h6>
                                </li>
                                <li class="row mt-3">
                                    <a href=""><img src="~/Images/Contact/phone.png" class="mr-3" /></a><h6 class="list-headline"> Telefon vardagar 8:00-16:00<br /> <a href="">01-123-123</a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input onclick="myFunction()" type="button" id="hide" value="Hide" />
        <input onclick="myFunction()" type="button" id="show" value="Show" />
    </div>
    <div id="Mailcontent">
        <h1>sdasdsa</h1>
        <h1>sdasdsa</h1>
        <h1>sdasdsa</h1>
    </div>
</div>





@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@