@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Home/_IndexLayout.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="polaroid-images row">
    <a href="">
        <img onclick="showimg(this.id, this.src)" id="first_div" data-toggle="modal" data-target="#myModal" height="200" src="~/Images/PgDesign/ute 3 (kopia).jpg" alt="Cave" title="Cave" />
        <p id="second_div">Lorem ipsum dolor sit amet, consectetur adipiscing elit.consectetur adipiscing elit.Lorem ipsum dolor sit ametconsectetur adipiscing elit.Lorem ipsum dolor sit amet</p>
    </a>
    <a href="">
        <img onclick="showimg(this.id, this.src)" id="first_div2" data-toggle="modal" data-target="#myModal" height="200" src="~/Images/PgDesign/Första sida tidningen.jpg" alt="Islands Forest" title="asdf" />
        <p id="second_div2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </a>

    <a href="">
        <img onclick="showimg(this.id, this.src)" id="first_div3" data-toggle="modal" data-target="#myModal" height="200" src="~/Images/PgDesign/DSC_0061.jpg" alt="Islands Forest" title="asdf" />
        <p id="second_div3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </a>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center" style="color:#808080">Öppettider</h2>
        <hr />
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel enim velit. Pellentesque sollicitudin tellus risus, nec laoreet sem auctor id. Aliquam vel hendrerit arcu. Fusce et dignissim turpis, sit amet ultricies metus. Etiam vitae nisl dolor. Curabitur ultrices ac libero non placerat. Etiam dictum mauris quis velit pellentesque maximus. In in sem sit amet libero tincidunt volutpat quis a ipsum. Maecenas facilisis nec lacus vitae venenatis. In condimentum maximus velit, nec malesuada leo euismod lobortis. Aenean efficitur nisl eget quam faucibus, sed sodales leo pretium. Integer condimentum vehicula ex, quis pretium purus. Aliquam sit amet nunc arcu. Fusce tincidunt risus vitae nulla viverra, eu mollis odio tristique</p>
    </div>
    <div class="col-md-6">
        <h2 class="text-center" style="color:#808080">Nyheter</h2>
        <hr />
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel enim velit. Pellentesque sollicitudin tellus risus, nec laoreet sem auctor id. Aliquam vel hendrerit arcu. Fusce et dignissim turpis, sit amet ultricies metus. Etiam vitae nisl dolor. Curabitur ultrices ac libero non placerat. Etiam dictum mauris quis velit pellentesque maximus. In in sem sit amet libero tincidunt volutpat quis a ipsum. Maecenas facilisis nec lacus vitae venenatis. In condimentum maximus velit, nec malesuada leo euismod lobortis. Aenean efficitur nisl eget quam faucibus, sed sodales leo pretium. Integer condimentum vehicula ex, quis pretium purus. Aliquam sit amet nunc arcu. Fusce tincidunt risus vitae nulla viverra, eu mollis odio tristique</p>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <img id="myImg" class="modal-content"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>

<script>
    function showimg(id, src) {
        var modal = document.getElementById('myModal');

        var img = document.getElementById(id)
        var modalImg = document.getElementById("myImg")
            modalImg.src = src;
    }
        //img.onclick = function () {
        //}
</script>


<script>
    var delayInMilliseconds = 500;
    setTimeout(function () {
    $(document).ready(function () {
        $("#second_div").css({
            'width': ($("#first_div").width())
        });
        $("#second_div2").css({
            'width': ($("#first_div2").width())
        });
        $("#second_div3").css({
            'width': ($("#first_div3").width())
        });
    });
    }, delayInMilliseconds);
</script>
