@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_IndexLayout.cshtml";
}




<div class="jumbotron">

    <div class="polaroid-images row">
        <a href=""><img height="200" src="~/Images/PgDesign/ute 3 (kopia).jpg" alt="Cave" title="Cave" /><p>asdf</p></a>
        <a href=""><img height="200" src="~/Images/PgDesign/Första sida tidningen.jpg" alt="Islands Forest" title="asdf" /><p>asdf</p></a>
        
        <a href=""><img height="200" src="~/Images/PgDesign/DSC_0061.jpg" alt="Islands Forest" title="asdf" /><p>asdf</p></a>


    </div>
    <hr />
    <h1 class="display-4 text-center">Nyheter</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>



