
@{
    ViewBag.Title = "Referenser";
}

<h2 class="text-center">Referenser</h2>
<hr />

<div class="row mt-4">
    <div class="col-md-6">
        <ul>
            <li>
                Räddningsverkets skola Sandö
            </li>
            <li>
                Räddningstjänsten Kramfors
            </li>
            <li>
                Ådalens TV- service AB,
            </li>
            <li>
                Teracom
            </li>
            <li>
                Teracom Mobile Links AB
            </li>
            <li>
                Swedia networks
            </li>
            <li>
                Nordtrafo i Bjärtrå AB
            </li>
            <li>
                Bjärtrå TeaterTekniska
            </li>
            <li>
                FOKUS NEON AB
            </li>
            <li>
                SKANDIA
            </li>
            <li>
                Dial/Skandia
            </li>
            <li>
                Folksam
            </li>
            <li>
                Trygg-Hansa
            </li>
            <li>
                if.. försäkringar
            </li>
            <li>
                Volvia
            </li>
            <li>
                Länsförsäkringar i Västernorrland
            </li>
            <li>
                Kammarkollegiet
            </li>
            <li>
                Salus ansvar
            </li>
            <li>
                Sockenbolagens försäkringsaktiebolag
            </li>
            <li>
                Kramfors kommun
            </li>
            <li>
                Nyhlen & Näsholm Byggnadsfirma
            </li>
            <li>
                Peter Rodins Åkeri
            </li>
            <li>
                OMNE BRÖD
            </li>
            <li>
                Ernst Andersson Bil AB
            </li>
            <li>
                Bagges Gräv & Schakt
            </li>
            <li>
                Matts Åkerlunds Grävmaskiner
            </li>
            <li>
                DAHLMAN Marin & Verkstadsteknik
            </li>
        </ul>

         

        
    </div>

    <div class="col-md-6">
        <ul>
            <li>
                GÖBY
            </li>
            
            <li>
                Ådalens TV- service AB,
            </li>
            <li>
                Linjebuss Sverige AB,
            </li>
            <li>
                Ådalens bildemontering
            </li>
            <li>
                Tejboverktyg AB
            </li>
            <li>
                Nylands Järnhandel AB,
            </li>
            <li>
                Bohlins Slamsugning AB
            </li>
            <li>
                Kök & Bygg
            </li>
            <li>
                Peek Traffic AB
            </li>
            <li>
                Nordiska ekofiber
            </li>
            <li>
                Fröks Trafik HB
            </li>
            <li>
                Lockners Mek
            </li>
            <li>
                Prästmons Åkeri AB
            </li>
            <li>
                HS Vakuumplast AB
            </li>
            <li>
                Länsförsäkringar i Västernorrland
            </li>
            <li>
                Kammarkollegiet
            </li>
            <li>
                Salus ansvar
            </li>
            <li>
                Sockenbolagens försäkringsaktiebolag
            </li>
            <li>
                SUDDEHOLM TOOLING AB
            </li>
            <li>
                Lindström Lars Åkeri AB
            </li>
            <li>
                Gräta Trä
            </li>
            <li>
                AB Emil Lundgrens Bil & Traktortjänst
            </li>
            <li>
                K A NERG
            </li>
            <li>
                Höga Kusten Hydraultjänst AB
            </li>
            <li>
                Bo Johanssons Åkeri AB
            </li>
            <li>
                Space 2u webhosting AB
            </li>
            <li>
                Bilbolaget Personvagnar
            </li>

        </ul>
           

     

        </div>
    </div>
