body {
    padding-top: 66.95px;
    /*background-color: #FFF;*/
    background-image: linear-gradient(139deg, #000 30%, #db0a18 115%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000;
}
.headline {
    color: #808080;
}

/*Navbar*/
.sidenav {
    height: 100%;
    width: 10%;
    padding: 0em 0em;
    background-color: rgba(255,0,0,0.0) !important;
    
    
}


/*.navbar-nav {
   font-size: 18px;
   margin-right: 90px;
   
   
  
}*/
#navbarul {
    list-style: none;
    padding-left: 0px;
}
/*nav-item {
    padding-right: 2em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}*/
/*.navbar-dark .navbar-nav .nav-link {
    color: #cecece
}*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

#Loggo {
    margin-top: -17.6px;
    margin-bottom: -17.5px;
    margin-left: 0px;
}

/*För mobila enheter*/
@media(max-width: 992px) {

    .navbar {
        height: 66.95px;
    }
    .navbar-expand-lg {
        height: auto;
        
    }
    .navbar-collapse{
        padding-top: 15px;
    }
    .nav-link{
        padding-right: 0px;
        width: 70px;
    }
}

#content {
    padding: 2% 2% 2% 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    box-shadow: 0 0 0.5rem rgba(83,78,76,.6);
    background: rgb(244, 244, 244);
    background: rgba(244, 244, 244, 0.85);
    border: 0.5px solid black;
    
    
   
}
#Homecar {
    height: 30px;
    width: 50px;
}

/*Footer*/
footer {
    background: #2a2a2a;
    padding-top: 30px;
    color: #FFF;
    margin-bottom: 0px;
}
footer h4, footer .fab, footer a 
{
    color: white;
}

footer ul 
{
    padding-left: 0px;
    text-align: left;
}

footer a
{
    font-size: 17px;
}

footer a:hover 
{
    color: rgb(19,180,224);
    color: rgba(19,180,224,1);
}
footer p{
    font-size: 17px;
}
#Copyright-Text{
    margin-bottom: 0px !important;
}

#OpenTimes:hover {
    color: rgb(19,180,224);
    color: rgba(19,180,224,1);
    cursor:pointer;
}

/*Contact us*/
.profile-body {
    padding: 1% 2% 2% 2%;
}
.profile-pic{
    border-radius: 50%;
}
.profile-card{
    border: solid 1px black;
}

/*Startsida Om oss*/
#OmOssDiv {
  
    box-shadow: 0 0 0.5rem rgba(83,78,76,.6);
    
    background: rgba(244, 244, 244, 0.1);
    
  
}
#OpenDiv {
    box-shadow: 0 0 0.5rem rgba(83,78,76,.6);
    background: rgba(244, 244, 244, 0.1);
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

/*Carousel*/
#CarouselId{
    margin-top: -2%;
    padding: 0px;
}