body {
    padding-top: 150px;
    background-color: #f2f2f2;
}
/*Navbar*/
.navbar {
    background-image: linear-gradient(139deg, #000 30%, #db0a18 115%);
 
    
    padding: 1.0em 2em;
    opacity: 0.95;
}

.navbar-nav {
    font-size: 16px;
   margin-right: 70px;
   
   
  
}
.navbar-brand {
    border-right: 1px solid #FFF;
    padding-right: 25px;
    border-radius: 5px;
}
.nav-item {
    padding-right: 2em;
}
#Homecar {
    height: 30px;
    width: 50px;
}
    


footer {
    background: #0e0e0e;
    padding-top: 30px;
    color: #FFF;
    margin-top: 100px;
    margin-bottom: 0px;
}
footer h4, footer .fab, footer a 
{
    color: white;
}

footer ul 
{
    padding-left: 0px;
    text-align: left;
}

footer a
{
    font-size: 17px;
}

footer a:hover 
{
    color: rgb(19,180,224);
    color: rgba(19,180,224,1);
}
#content {
    background-color: #FFF;
}
#Copyright-Text{
    margin-bottom: 0px !important;
}
footer p{
    font-size: 17px;
}