
@{
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";
}


<div class="row">

    <div class="col-md-4">
        <a href="LinkT">
            <img src="~/Images/Buss.png" alt="..." class="img-thumbnail img-fluid" style="max-height: 364.42px;">
        </a>
    </div>

    <div class="col-md-4">
        <a href="LinkT">
            <img src="~/Images/PgDesign/Första sida tidningen.jpg" alt="..." class="img-thumbnail img-fluid" style="max-height: 364.42px;">
        </a>
    </div>

    <div class="col-md-4">
        <a href="LinkT">
            <img src="~/Images/PgDesign/pgGarage.jpg" alt="..." class="img-thumbnail img-fluid" style="max-height: 364.42px;">
        </a>
    </div>

    <div class="col-md-4">
        <a href="LinkT">
            <img src="~/Images/PgDesign/pgGarage.jpg" alt="..." class="img-thumbnail img-fluid" style="max-height: 364.42px;">
        </a>
    </div>
</div>
