@model pgDesign.ViewModels.GalleryViewModel
@{
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";
}


<div class="row" id="picturesgallery">
    @if (Model != null)
    {
        for (int i = 0; i < Model.BlobList.Count; i++)
        {
            var id = i;


            <div class="col-md-4">

                <img src="@Model.BlobList.ElementAt(i)" alt="..." data-toggle="modal" data-target="#myModal" class="getSrc img-thumbnail img-fluid hoverimg" style="max-height: 364.42px;" id="@{@id}">

            </div>
        }
    }
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog" role="document">



        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="modal-body">
            <img id="showimg" src="#" alt="" class="showPic w-100" />
        </div>

    </div>
</div>
