
@{
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";
}

@*<div class="float-left col-md-8 row">
    <img src="~/Images/Buss.png" alt="..." class="img-thumbnail img-fluid">
    <img src="~/Images/PgDesign/Första sida tidningen.jpg" alt="..." class="img-thumbnail img-fluid">
    <img src="~/Images/PgDesign/pgGarage.jpg" alt="..." class="img-thumbnail img-fluid">
</div>*@

<div class="row">

    <div class="col-md-4">
        <a href="LinkT">
            <img src="~/Images/Buss.png" alt="..." class="img-thumbnail img-fluid">
        </a>
    </div>

    <div class="col-md-4">
        <a href="LinkT">
            <img src="~/Images/PgDesign/Första sida tidningen.jpg" alt="..." class="img-thumbnail img-fluid">
        </a>
    </div>

    <div class="col-md-4">
        <a href="LinkT">
            <img src="~/Images/PgDesign/pgGarage.jpg" alt="..." class="img-thumbnail img-fluid">
        </a>
    </div>
</div>
