@model pgDesign.ViewModels.GalleryViewModel
@{
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";
}

@if (!User.Identity.IsAuthenticated)
{

    <div class="row" id="picturesgallery">
        @if (Model != null)
        {
            for (int i = 0; i < Model.BlobList.Count; i++)
            {
                var id = i;


                <div class="col-md-4">

                    <img src="@Model.BlobList.ElementAt(i).URIName" alt="..." data-toggle="modal" data-target="#myModal" class="getSrc img-thumbnail img-fluid hoverimg" style="max-height: 364.42px;" id="@{@id}">

                </div>
            }
        }
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog" role="document">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="modal-content" id="modalcontent">
                    <img id="showimg" src="#" alt="" class="showPic h-auto" />
                </div>
            </div>

        </div>
    </div>

}
else
{
    <div class="row" id="picturesgallery">
        @if (Model != null)
        {
            for (int i = 0; i < Model.BlobList.Count; i++)
            {
                var id = i;


        <div class="col-md-6" id="adminpicturecontainer">
            <img src="@Model.BlobList.ElementAt(i).URIName" alt="..." class="img-thumbnail hoverimg img-fluid" style="max-height: 300px; width: 100%;" id="@{@id}">
                <input type="button" id="@{@id}" class="btn btn-danger" value="X" onclick="location.href='@Url.Action("DeleteImage", "Gallery", new { url = Model.BlobList.ElementAt(i).URIName, cn = Model.BlobList.ElementAt(i).ContainerName, pn = Model.BlobList.ElementAt(i).PictureName })'" />
        </div>
            }
        }
    </div>
}
